<nav>
  <div class="nav-wrapper orange darken-1">

      <a href="#!" class="brand-logo"><i class="material-icons">book</i>myCookbook</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/newRecipe">Add</a></li>
        <li><a class="" href="/login">Exit</a></li>
      </ul>
    {{!-- <form>
      <div class="input-field">
        <input id="search" type="search" required />
        <label class="label-icon black-text" for="search" value="Search for a Recipe"><i
            class="material-icons"></i></label>
        <i class="material-icons">close</i>
      </div>
    </form> --}}
    <ul class="right hide-on-med-and-down"></ul>
  </div>
</nav>

<div class="row ">
  <div class="col yellow darken-2 side-nav">
          <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    <div class="collection">
      {{#each recipes}}
      <a href="#!" class="collection-item black-text">{{this.title}}</a>
      {{/each}}
    </div>
    <p><a class=" white-text" href="/">Menu</a></p>
  </div>
  <div class="col s9 blue white-text">
    <h1>{{recipe.name}}</h1>
    <h3>Ingredients</h3>
    <ul>
      {{#each recipe.ingredients}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
    <h3>Instructions</h3>
    <ul>
      {{#each recipe.instructions}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
  </div>
<div class="container recipe-page">
    <div class="col">
      {{!-- <h1>{{recipe.name}}</h1> --}}
      <h2>Chiken Tikka Masala</h1>
      <h4>Ingredients</h3>
      <ul>
        {{#each ingredient}}
        <li>
          {{this.ingridientName}}
        </li>
        {{/each}}
        <li>Chicken</li>
        <li>Tikka</li>
        <li>Masala</li>
      </ul>

      <h4>Instructions</h3>
      <ul>
        {{#each instructions}}
        <li>
          {{this.instructionName}}
        </li>
        {{/each}}
        <li>Prepare</li>
        <li>Cook</li>
        <li>Eat</li>
      </ul>
    </div>
  </div><!--containter-->
  
</div>

<script src="/js/recipes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>